body {
  background-color: #fcffdf;
}

p {
  color: #8b8b8bcc;
  font-family: verdana;
  font-size: 20px;
}

button {
  color: #fff;
  background-color: #025157;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: #46484c;
}

.header {
  margin: 40px 20px 0;
  font-size: 0;
  font-family: sans-serif;
  height: 45px;
}

.header>* {
  display: inline-block;
  font-size: 15px;
  line-height: 45px;
  height: 100%;
  vertical-align: middle;
}

.logo {
  width: 15%;
}

.logo > img {
  width: 15%;
}

.navbar {
  background-color: #fffbf7;
  text-align: center;
  color: #025157;
  font-weight: 500;
}

.actions {
  text-align: right;
  font-weight: 600;
  font-size: 14px;
}

.actions>* {
  margin-right: 10px;
  margin-left: 10px;
}

.actions a {
  color: #67b54b;
}

.actions button {
  color: white;
  background-color: #67b54b;
  border: none;
  padding: 12px 14px 12px 14px;
  border-radius: 5px;
}

.main {
  margin-top: 140px;
  text-align: center;
}

.menu>* {
  display: inline;
  margin-right: 25px;
  margin-left: 25px;
}

.publish {
  /* container styles if any */
  margin-left: 30px;
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish>p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish>form {
  display: flex;
}

.publish>form p {
  color: #025157;
  margin-right: 18px;
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;
}

.texto-boton:hover {
  background-color: #67b54b;
}

.explanatory-video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

.features {
  display: grid;
  padding: 5% 10%;
  height: 660px;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  background-color: #025157;
}

.features .feature_card {
  border: 1px solid #dadada;
  border-radius: 5px;
  margin: 30px 15px 30px 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}

.features .feature_card .feature_content {
  padding: 30px 20px 40px 20px;
  flex: 2;
}

.features .feature_card .feature_content>* {
  margin-top: 0;
}

.features .feature_card .feature_image {
  flex: 1;
  width: 40%;
  height: 60%;
  right: -40px;
  position: relative;
}

.features .feature_card .feature_image figure,
.features .feature_card .feature_image img {
  margin-top: 0;
  height: 100%;
}

.features .feature_card .feature_content img {
  margin-top: 0;
  width: 50px;
}

.features .feature_card .feature_content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.features .feature_card .feature_content p {
  font-size: 16px;
  color: #7e7e7e;
  font-weight: 400;
}

.features .feature_card .feature_content a {
  color: #67b54b;
  font-weight: 600px;
  font-weight: bold;
}


.success-stories .card img {
  max-height: 30vh;
  object-fit: fill;
  border-radius: 2%;
}

.success-stories .card {
  max-width: 370px;
  width: 100%;
  min-height: 600px;
  margin: 0 auto;
}

.success-stories {
  background-color: #a1d683;
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.success-stories .overview {
  flex: 2;
  padding-right: 100px;
}

.success-stories .overview h2 {
  font-family: "Alegreya", serif;
  font-size: 51px;
  line-height: 61px;
  color: #025157;
}

.success-stories .overview p {
  color: #343434;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.success-stories .overview button {
  font-size: 14px;
  padding: 12px 12px 6px 12px;
  border-radius: 8px;
  height: 45px;
  font-weight: 600;
  margin-left: 0;
}

.success-stories .overview img {
  width: 500px;
  max-width: 100%;
}

.success-stories .stories-carousel .card .card-media img {
  width: 100%;
  max-height: 16vw;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.success-stories .card .card-content h3 {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;

}

.card-content {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.card-circle-image {
  position: absolute;
  top:-45px;
  right: 20px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  padding: 5px;
  background-color: #f9da73;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.card-circle-image img {
  width: 75%;
  height: 75%;
  border-radius: 75%;
}


@media (max-width: 575px) {

  .actions,
  .navbar {
    text-align: center;
  }

  h1 {
    font-size: 30px;
  }

  .main {
    margin-top: 130px;
  }

  /** Media queries previos al banner **/
  .banner>img {
    width: 100%;
  }

  .publish>form {
    flex-direction: column;
  }

  .publish>div {
    height: 50px;
    margin-top: 10px;
  }

  .publish>form>div>input {
    width: 65%;
  }

  .promo {
    flex-direction: column;
    max-width: 90%;
  }

  .explanatory-video>video {
    width: 100%;
  }

  .publish {
    margin-top: 10px;
  }

  .publish>h3 {
    font-size: 25px;
    line-height: 1.2;
  }
}

@media (max-width: 991px) {

  .actions,
  .navbar {
    text-align: center;
  }
}
