
        body {
            color: #fffbf7;
        }

        p {
            color: #8b8b8bcc;
            font-family: verdana;
            font-size: 20px;
        }

        button {
            color: #fff;
            background-color: #025157;
        }

        h1 {
            text-align: center;
            color: #46484c;
        }